@import "../../modules/_base.scss";
/*Hero Section*/
.b-hero{}
.b-hero__inner{
    @extend .g-container;
    height:232px;
    position:relative;
    text-align:center;
    position:relative;
    background:url(../img/hero.jpg) center top no-repeat;
    overflow:hidden;

    &:before{
        content:'';
        display:block;
        position:absolute;
        top:0; left:0;
        right:0; bottom:0;
        background:rgba(#fff, .75);
    }
}
.b-hero__title{
    @extend .g-title;
    margin:0 auto;
    color:$primary;
    line-height:1.375;
    @include font-size(25px);
    position:absolute;
    top:50%; left:50%;
    @include transform(translate(-50%, -50%));

    @include media($tablet){
        max-width:75%;
        @include font-size(32px);
    }

    
}

.no-csstransforms .b-hero__title{
        position:static;
        margin-top:50px;
    }