@import "../../modules/_base.scss";
/*Item List*/
.item-list{
    @extend .g-clearfix;
    @extend .g-clearlist;
    line-height:1;
    margin-bottom:2*$project-line-height;
}

.item-list__item{
    @extend .g-column;
    margin-bottom:$project-line-height;

    @include media($small){
        @include span-columns(6);
        @include omega(2n);
    }

    @include media($tablet){
        @include omega-reset(2n);
        @include span-columns(4);
        @include omega(3n);
    }

    @include media($desktop){
        @include omega-reset(3n);
        @include span-columns(3);
        @include omega(4n);
    }
}

.item-list__link{
    display:block;
    max-width:270px;
    margin:0 auto;
    text-decoration:none;
    color:$text-color;

    &:hover,
    &:active{
        .item-list__thumb{
            background:$primary;
        }
        .item-list__title{
            color:$primary;
        }
        .item-list__img{
            @include transform(translate(-50%, -40%));
        }
    }
}

.item-list__item.current{
    .item-list__link{
        cursor:default;
    }
    .item-list__thumb{
        background:$primary;
    }
    .item-list__title{
        color:$title-color;
    }
    .item-list__img{
        @include transform(translate(-50%, -50%));
    }
}

.item-list__inner{
    margin:0;
}

.item-list__thumb{
    @include size(120px);
    margin:0 auto 10px;
    position:relative;
    border-radius:50%;
    background:#fff;
    @include transition(background .15s ease-in);
}

.item-list__img{
    max-width:80px;
    @extend .g-align;
}

.item-list__content{
    @include font-size(13px);
}

.item-list__title{
    display:block;
    margin-bottom:10px;
    min-height:57px;
    line-height:1.1;
    font-family:$font-title;
    @include font-size(18px);
    @include transition(color .15s ease-in);
    color:$title-color;
    text-align:center;
}

.item-list__state{
    display:inline-block;
    margin:0 15px 15px 0;
    white-space:nowrap;
    &:last-of-type{
        margin-right:0;
    }

    [class^="icon-"]:before, [class*=" icon-"]:before{
        color:$primary-alt;
    }
}

