@import "../../modules/_base.scss";
/*Sidebar events feed*/
.events-feed{
    @extend .news-feed;
}
.events-feed__title{
    @extend .news-feed__title;
}

.events-feed__list{
    @extend .g-clearlist;
}
.events-feed__item{
    display:block;
    padding:10px 0;
    border-top:1px solid $border-color;

    &:first-child{
        border:none;
    }
}

.events-feed__link{
    @extend .news-feed__link;

    &.current{
        .events-feed__day{
            color:$primary-alt;
        }
    }
}

.events-feed__inner{
    @extend .news-feed__inner;
}

.events-feed__date{
    float:left;
    width:112px;
    height:84px;
    text-align:center;
    overflow:hidden;
}

.events-feed__day{
    display:block;
    margin-top:10px;
    font-family:$font-condensed;
    @include font-size(40px);
    color:$primary;
    line-height:1;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.events-feed__month{
    display:block;
    @include font-size(13px);
    color:$primary;
    line-height:1.1;
}

.events-feed__info{
    @extend .news-feed__info;
}

@include media($tablet){
    .events-feed__item{
        padding:15px 0;

        &:first-child{
            padding-top:25px;
        }
    }
    .events-feed__title{
        padding:19px 10px 25px;
        margin:0 -25px;
    }
    
}