@import "../modules/base";

@import "header/_logo.scss";
@import "header/_search.scss";

/*Site Header*/
.b-header{}
.b-header__top,
.b-header__main,
.b-header__menu{
    @extend .g-container;
}
.b-header__top{
    margin-bottom:10px;//отступ над логотипом

    @include media($tablet){//дальше, добавляем верхний отступ в форму поиска
        margin-bottom:0;
    }
}
.b-header__links{
    float:right;

    @include media($small){//по ширине формы поиска
        width:268px;
    }
}

/*Mobile Menu Button*/
.b-header__menubtn{
    float:left;
    border:none;
    margin:6px 0;
    height:30px;
    line-height:30px;
    background:none;
    @include font-size(12px);
    font-weight:700;
    text-transform:uppercase;
    color:$primary;
    white-space:nowrap;

    &:hover,
    &:focus,
    &.active{
        color:$primary-alt;
        outline:0;
    }

    [class^="icon-"]:before, [class*=" icon-"]:before{
        @include font-size(13px);
        margin-left:0;
    }

    @include media($desktop){
        display:none;
    }
}

/*Header Social Links*/
.b-social{
    float:left;
    list-style-type:none;
    margin:0;
    padding:6px 0;
    font-size:0;

    [class^="icon-"]:before, [class*=" icon-"]:before{
        margin:0;
    }
}
.b-social__item{
    display:inline-block;
    margin-right:8px;
    @include font-size(16px);
}
.b-social__link{
    display:block;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    color:#fff;
    background:$primary;
    text-decoration:none;
    border-radius:50%;
    &:hover,
    &:active{
        background:$primary-alt;
    }
}

/*Header Lang Switcher*/
.b-lang{
    @extend .g-clearlist;
    float:right;
    margin-left:10px;
    font-size:0;
}
.b-lang__item{
    display:inline-block;
    @include font-size(12px);
}
.b-lang__link{
    display:block;
    height:42px;
    min-width:36px;
    line-height:54px;
    padding:0 8px;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:700;
    color:$text-color;
    box-sizing:border-box;

    &:hover,
    &:active,
    &.current{
        color:#e6e9ed;
        background:$primary-alt;
    }

    &.current{
        cursor:default;
        background:$primary;
    }
}

/*Header Desktop Menu Section*/
.b-header__menu-inner{
    @extend .g-clearfix;
    padding-top:15px;
    border-bottom:1px solid #0a0a0a;
    display:none;

    @include media($desktop){
        display:block;
    }
}