@import "base";
/* Buttons */
.g-btn{
    display:inline-block;
    vertical-align:middle;
    @include px2rem(margin-bottom, 10px);
    @include px2rem(height, 44px);
    @include px2rem(line-height, 40px);
    @include px2rem(padding, 0 30px);
    color:#fff;
    text-align: center;
    @include font-size($project-font-size);
    text-decoration: none;
    white-space: nowrap;
    background-color: $primary;
    border: none;
    border-bottom:4px solid darken($primary, 10%);
    cursor: pointer;
    box-sizing: border-box;
    @include transition(transform .2s ease);

    &:hover,
    &:focus,
    &:active{
        color:#fff;
        background:$primary-light;
        outline:0;
    }

    &:active{
        @include transform(translateY(3px));
    }
}
